@import "code";

$theme-primary: #D91F1E;
$theme-box: #294B69;
$theme-code: #808080;

$theme-font1: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$theme-font2: Gibson,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $theme-font1;
  line-height: 2;
  color: #444;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-right: 10px;
  padding-left: 10px;
}

.box, .box-first, .box-large, .box-nested, .box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 1.25rem;
  margin-bottom: 0;
  background: transparentize($theme-box, 0.9);
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: $theme-box;
  border-radius: 2px;
  border: 1px solid lighten($theme-box, 32%);
}

.box-large {
  height: 8rem;
}

.box, .box-first, .box-large, .box-nested, .box-row {
  padding: 0.25rem;
}

.box-row {
  margin-bottom: 1em;
}

pre.prettyprint {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid lighten($theme-code, 32%);
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 1em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}

.main-title,
.title,
h2,
h3,
h4,
h5 {
  font-family: $theme-font2;
  -webkit-font-smoothing: antialiased
}

.main-title {
  font-size: 60px;
  line-height: 1.2em;
}

p {
  margin-bottom: 15px
}

h1 {
  font-size: 40px
}

h2 {
  font-size: 31px;
  color: black;
  margin: 0 0 30px
}

h3 {
  font-size: 26px;
  color: black;
  margin: 40px 0 15px
}

h4,
h5 {
  font-size: 22px;
  color: black;
  margin: 35px 0 15px
}

.button {
  display: inline-block;
  font-family: $theme-font2;
  font-size: 14px;
  text-align: center;
  text-transform: none;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
  height: auto;
  border: 2px solid #EEE;
  color: #EEE;
  background-color: #222;
  transition: background-color 0.3s, border-color 0.3s;
  -webkit-font-smoothing: antialiased
}
.button:hover,
.button:active,
.button:focus {
  background-color: $theme-primary;
  color: #EEE;
}

.action {
  margin-top: 45px
}

.action .button {
  margin: 0 10px
}

a {
  color: $theme-primary;
}
a:hover,
a:active,
a:focus {
  color: $theme-primary
}

pre {
  margin: 30px 0 50px
}

header {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-image: url("images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: transparent;
  color: #EEE;
}

header::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(3, 3, 3, .4);
}

.sub-title {
  padding: 0 30px;
  font-size: 17px
}

.sub-title,
.main-title {
  text-shadow: 2px 2px 2px #333;
}

.section {
  padding-bottom: 110px;
  border-bottom: 1px solid #979797;
  padding-top: 110px;
  width: 100%
}
